/* Variables */
:root {
  --square-size: 15px;
  --square-gap: 2px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

/* Common */
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #959494;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul, ol {
  list-style: none;
}

/* Graph */
.months {
  grid-area: months;
}

.days {
  grid-area: days;
}

.squares {
  grid-area: squares;

  display: grid;
  gap: 2px;
  grid-template-rows: repeat(7, var(--square-size));
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.graph {
  display: grid;
  grid-template-areas:
    "_ months"
    "days squares";
  grid-template-columns: auto 1fr;
  gap: 5px;

  padding: 20px;
  border: 1px #e1e4e8 solid;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4)
    /* Jan */
    calc(var(--week-width) * 4)
    /* Feb */
    calc(var(--week-width) * 4)
    /* Mar */
    calc(var(--week-width) * 5)
    /* Apr */
    calc(var(--week-width) * 4)
    /* May */
    calc(var(--week-width) * 4)
    /* Jun */
    calc(var(--week-width) * 5)
    /* Jul */
    calc(var(--week-width) * 4)
    /* Aug */
    calc(var(--week-width) * 4)
    /* Sep */
    calc(var(--week-width) * 5)
    /* Oct */
    calc(var(--week-width) * 4)
    /* Nov */
    calc(var(--week-width) * 5)
    /* Dec */
  ;
}

.days__item--hidden {
  visibility: hidden;
}

.squares__item {
  background-color: #EDEDED;
  outline: 1px solid transparent;
  position: relative;
  transition: all .2s;
}

.squares__item--active {
  outline: 1px solid rgba(0, 0, 0, 0.9);
}

.squares__item:hover {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

/* Painting levels */
.squares__item[data-color="1"] {
  background-color: #ACD5F2;
}

.squares li[data-color="2"] {
  background-color: #7FA8C9;
}

.squares li[data-color="3"] {
  background-color: #527BA0;
}

.squares li[data-color="4"] {
  background-color: #254E77;
}

/* Tooltip */
.tooltip {
  position: absolute;
  bottom: calc(15px + 6px);
  transform: translateX(calc(-50% + 7.5px));
  width: 145px;
  padding: 5px 9px;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 3px;
  z-index: 10;
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
}

.tooltip__date {
  color: #7c7c7c;
  font-size: 10px;
  line-height: 12px;
  margin-top: 4px;
}